table {
  width: 100%;
  border-radius: 7px;
}

th.mat-sort-header-sorted {
  color: black;
}

.profit {
    color: greenyellow;
    font-weight: bold;
}

.mat-card {
    margin: 10px 0px;
}

.mat-fab {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 12px;
}

.control-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.mat-form-field + .mat-form-field {
  color: white;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rep-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
