table {
  width: 100%;
}

.salesrep-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}

tr.table-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  transition: all 0.5s;
}

tr.table-row {
  transition: all 0.5s;
}

/* boilerplate styles */
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.row-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-column-expandedDetail {
  background-color: whitesmoke;
}
